nav {
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid $main-black;
    img {
        height: 50px;
        padding-bottom: 10px;
    }
    a {
        font-weight: 600;
        font-size: 0.95em;
        text-decoration: none;
        margin: 0px 20px;
        color: $main-black;
        padding-bottom: 10px;
        transition: 500ms;
        font-family: $main-font;
        &:hover {
            font-size: 1.4rem;
            font-weight: bold;
        }
    }
}